.main-password__input-wrap {
  position: relative;
  margin-top: 24px;

  .main-input {
    margin-top: 0;
  }
}

.main-password__form {
  margin-top: -12px;
}

.main-password__title {
  margin-bottom: 12px;
}

.main-input[type='password']:not(:placeholder-shown) {
  @media screen and(-webkit-min-device-pixel-ratio: 0) {
    font-size: 35px;

    @include mq($lap-large) {
      font-size: 33px;
    }

    @include mq($xl) {
      font-size: 30px;
    }

    @include mq($lg) {
      font-size: 28px;
    }

    @include mq($md) {
      font-size: 29px;
    }

    @include mq($sm) {
      font-size: 27px;
    }
  }

  @-moz-document url-prefix() {
    font-size: 22px;

    @include mq($lap-large) {
      font-size: 20px;
    }

    @include mq($xl) {
      font-size: 18px;
    }

    @include mq($md) {
      font-size: 16px;
    }

    @include mq($sm) {
      font-size: 14px;
    }
  }
}

.main-input {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  border: none;
  outline: none;
  color: $black;
  padding: 20px 30px;
  font-size: 22px;
  margin-top: 16px;

  @include mq($lap-large) {
    height: 60px;
  }

  @include mq($lap-large) {
    font-size: 20px;
  }

  @include mq($xl) {
    font-size: 18px;
  }

  @include mq($md) {
    font-size: 16px;
  }

  @include mq($sm) {
    font-size: 14px;
    height: 45px;
    padding: 20px 60px 20px 15px;
  }
}

.main-password-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background: $dark-green;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  color: $white;
  font-size: 19px;

  @include mq($lap-large) {
    height: 60px;
    width: 60px;
  }

  @include mq($sm) {
    height: 45px;
    width: 45px;
    font-size: 15px;
  }
}

.main-password__pless {
  display: block;
  margin-top: 16px;
  font-size: 24px;

  @include mq($lap-large) {
    font-size: 18px;
  }

  @include mq($md) {
    font-size: 16px;
  }
}
