.main-privacy {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1b1c;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 15px;
  opacity: 0;
  transition: $dur $ease;
  pointer-events: none;

  &.show {
    opacity: 1;
    z-index: 12;
    pointer-events: visible;
  }

  h2 {
    font-size: 48px;
    margin-top: 64px;
    letter-spacing: 1.3px;

    @include mq(1700) {
      font-size: 40px;
    }

    @include mq($lap-large) {
      font-size: 30px;
      margin-top: 50px;
    }

    @include mq($md) {
      font-size: 28px;
    }

    @include mq($sm) {
      font-size: 24px;
      margin-top: 30px;
    }
  }

  p {
    color: $lightest-grey;
    margin-top: 28px;
    font-size: 22px;
    letter-spacing: -0.2px;
    line-height: 1.54;

    @include mq($lap-large) {
      font-size: 20px;
    }

    @include mq($xl) {
      font-size: 18px;
    }

    @include mq($lg) {
      margin-top: 18px;
    }

    @include mq($md) {
      font-size: 16px;
    }

    @include mq($sm) {
      font-size: 14px;
      margin-top: 15px;
    }
  }
}

.main-privacy__content {
  max-width: 945px;
  width: 100%;
  margin: 141px auto;

  @include mq($lap-large) {
    margin: 130px auto;
  }

  @include mq($xl) {
    margin: 110px auto;
  }

  @include mq($lg) {
    margin: 90px auto;
  }

  @include mq($md) {
    margin: 64px auto;
  }

  @include mq($sm) {
    margin: 50px auto;
  }
}

.main-privacy__title {
  font-size: 64px;
  margin-bottom: 94px;
  letter-spacing: 1.9px;

  @include mq($xl) {
    font-size: 58px;
    margin-bottom: 80px;
  }

  @include mq($lg) {
    font-size: 50px;
    margin-bottom: 50px;
  }

  @include mq($md) {
    font-size: 45px;
  }

  @include mq($sm) {
    font-size: 40px;
  }
}

.site-privacy__close {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $almost-black;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
  transition: $dur $ease;

  @include hover {
    background: $dark-green;
  }

  @include mq($lap-med) {
    font-size: 18px;
  }

  @include mq($lg) {
    width: 50px;
    height: 50px;
  }

  @include mq($md) {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  @include mq($sm) {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}
