.site-tabs__wrap {
  display: flex;
  max-width: 250px;
  margin-top: 54px;
  border-radius: 10px;
  overflow: hidden;

  @include mq($lap-large) {
    margin-top: 15px;

    @include mq($lg, min) {
      font-size: 14px;
    }
  }

  @include mq($lg) {
    margin-bottom: 24px;
    margin-top: 0;
  }

  @include mq($sm) {
    max-width: 100%;
  }

  &.hidden {
    visibility: hidden;
    pointer-events: none;

    @include mq($lg) {
      display: none;
    }
  }
}

.site-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50%;
  min-height: 50px;
  background: $black-2;
  color: $grey-3;
  text-transform: uppercase;
  font-weight: 600;
  transition: $dur $ease;
  border-bottom: none;
  cursor: pointer;

  @include mq($lap-med) {
    min-height: 40px;
  }

  &.active,
  &:hover {
    background: $dark-green;
    color: $white;
  }
}

.site-tabs--send {
  border-right: 1px solid $black-2;
}
