<!doctype html>
<html lang="en" data-framework="react">

<head>
  <meta charset="utf-8">
  <title>Blindsend</title>
  <link rel='icon' href='images/favicon.ico' type='image/x-icon' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class="container">
    <div class="row logo-row">
      <div class="col"></div>
      <div class="col">
        <h1 class="logo">Blindsend</h1>
      </div>
      <div class="col"></div>
    </div>

    <div id="app">
      <div style="text-align: center;margin: 80px">
        <div class="spinner-grow" role="status"></div>
      </div>
    </div>

    <%= htmlWebpackPlugin.options.sodiumInject %>

</body>

</html>