<!doctype html>
<html lang="en" data-framework="react">

<head>
  <meta charset="utf-8">
  <title>Blindsend</title>
  <link rel='icon' href='images/favicon.ico' type='image/x-icon' />
  <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- TODO: serve those files from own server/cdn -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap"
    rel="stylesheet">

</head>

<body>
  <div id="app">
    <div style="text-align: center;margin: 80px">
      <div class="spinner-grow" role="status"></div>
    </div>
  </div>

  <%= htmlWebpackPlugin.options.sodiumInject %>

</body>

</html>