.btn {
  font-family: $font-main-bold;
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 22px;
  font-weight: 700;
  // padding: 28px;
  padding: 21px 23px;
  min-width: 220px;
  line-height: 1;
  text-transform: uppercase;
  // background-color: transparent;
  outline: none;
  text-indent: 0;
  text-align: center;
  vertical-align: middle;
  transition: $dur $ease;
  border-radius: 8px;
  // width: 100%;
  width: 99.5%;
  margin: 2px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background: linear-gradient(116.16deg, rgba(55, 106, 123, 0.7) 16.47%, rgba(87, 58, 124, 0.7) 83.53%);

  // border: 1px solid;
  // // background: linear-gradient(116.16deg, rgba(55, 106, 123, 0.7) 16.47%, rgba(87, 58, 124, 0.7) 83.53%);
  // background-clip: padding-box;
  // border-image: linear-gradient(to bottom, $black 0%, $white 100%);
  // transition: opacity 0.5s;
  @include mq($lap-large) {
    padding: 18px;
    font-size: 20px;
  }

  @include mq($lap-med) {
    font-size: 18px;
  }

  @include mq($md) {
    font-size: 16px;
  }

  @include mq($sm) {
    font-size: 14px;
    padding: 14px;
    border-radius: 6px;
  }
}

.btn-animation {
  position: absolute;
  pointer-events: none;
  right: 16px;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  border: 2px solid #ff8978;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
  animation: 0.8s linear infinite rotate;
  z-index: 2;

  @include mq(400) {
    display: none;
  }

  &.sending {
    pointer-events: none;
    cursor: not-allowed;
    transition-delay: 0.2s;
    transition-duration: 1s;
    opacity: 1;
  }
}

.btn-wrap {
  position: relative;
  margin-top: 26px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-image: linear-gradient(116.16deg, rgba(55, 106, 123, 0.7) 16.47%, rgba(87, 58, 124, 0.7) 83.53%), linear-gradient(116.16deg, rgba(83, 197, 157, 1) 16.47%, rgba(162, 97, 246, 1) 83.53%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: $dur $ease;

  @include mq($sm) {
    border-radius: 6px;
  }

  @include hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: linear-gradient(116.16deg, rgba($green, 1) 16.47%, rgba($purple, 1) 83.53%);
    border-radius: 8px;
    transition: $dur $ease;
    opacity: 0;
  }

  &.disabled {
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background: none;
      border-radius: 8px;
      transition: $dur $ease;
      opacity: 0;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
