@font-face {
  font-family: 'NeueHaasDisplay-Roman';
  src: url('../fonts/NeueHaasDisplay-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay-Mediu';
  src: url('../fonts/NeueHaasDisplay-Mediu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay-Bold';
  src: url('../fonts/NeueHaasDisplay-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
